h1 {
    margin: auto;
    width: 400px;
    text-align: center;
}

#pokemon-team {
    margin: auto;
    /* width: 400px; */
    text-align: center

}

#pokemon{
    display: inline-block;
    margin: auto;
    padding: 10px;
}

.pokemon-container {
    display: inline-block;
    text-align: center;
    padding: 100px;

}

#container-wrapper {
    text-align: center;
    float: center
}

#stats-card {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
