h1 {
    margin: auto;
    width: 400px;
    text-align: center;
}

.pokemon-container {
    display: inline-block;
    text-align: center;
    padding: 100px;

}

#container-wrapper {
    text-align: center
}